.datatable-doc-demo {
  .customer-badge {
    border-radius: 2px;
    padding: 0.25em 0.5em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.3px;

    &.status-true {
      background-color: #c8e6c9;
      color: #256029;
    }

    &.status-false {
      background-color: #ffcdd2;
      color: #c63737;
    }

    &.status-negotiation {
      background-color: #feedaf;
      color: #8a5340;
    }

    &.status-new {
      background-color: #b3e5fc;
      color: #23547b;
    }

    &.status-renewal {
      background-color: #eccfff;
      color: #694382;
    }

    &.status-proposal {
      background-color: #ffd8b2;
      color: #805b36;
    }
  }

  .p-multiselect-representative-option {
    display: inline-block;
    vertical-align: middle;

    img {
      vertical-align: middle;
      width: 24px;
    }

    span {
      margin-top: 0.125em;
    }
  }

  .p-paginator {
    .p-dropdown {
      float: left;
    }

    .p-paginator-current {
      float: right;
    }
  }

  .p-progressbar {
    height: 8px;
    background-color: #d8dadc;

    .p-progressbar-value {
      background-color: #00acad;
      transition: none;
    }
  }

  .p-column-filter {
    display: block;

    input {
      width: 100%;
    }
  }

  .p-datatable-globalfilter-container {
    float: right;

    input {
      width: 200px;
    }
  }

  .p-datepicker {
    min-width: 25em;

    td {
      font-weight: 400;
    }
  }

  .p-datatable.p-datatable-customers {
    .p-datatable-header {
      border: 0 none;
      padding: 12px;
      text-align: left;
      font-size: 20px;
    }

    .p-paginator {
      border: 0 none;
      border-bottom: 1px solid #c8c8c8;
      padding: 1em;
    }

    .p-datatable-thead > tr > th {
      border: 0 none;
      border-top: 1px solid #c8c8c8;
      text-align: left;

      &.p-filter-column {
        border-top: 1px solid #c8c8c8;
      }
    }

    .p-datatable-tbody > tr > td {
      border-bottom: 1px solid #c8c8c8;
      border-left: 0px none;
      border-right: 0px none;
      cursor: auto;
    }

    .p-dropdown-label:not(.p-placeholder) {
      text-transform: uppercase;
    }
  }
}
